<body class="bg-gray-100 min-h-screen flex items-center justify-center">
  <section class="w-full max-w-6xl p-8">
    <h1 class="text-4xl font-bold text-center mb-10">Menú principal</h1>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">







      <div class="card bg-white border rounded-lg shadow-md p-6 flex flex-col items-center cursor-pointer hover:shadow-lg transition"
           routerLink="/client/planes">
        <i class="fa fa-calendar-alt fa-3x text-blue-500"></i>
        <h3 class="text-xl font-semibold mt-4">Planes</h3>
        <p class="text-gray-500">Observa los planes disponibles</p>
      </div>


      <div class="card bg-white border rounded-lg shadow-md p-6 flex flex-col items-center cursor-pointer hover:shadow-lg transition"
           routerLink="/menu/citas">
        <i class="fa fa-calendar-check fa-3x text-blue-500"></i>
        <h3 class="text-xl font-semibold mt-4">Citas</h3>
        <p class="text-gray-500">Programa citas</p>
      </div>
      <div class="card bg-white border rounded-lg shadow-md p-6 flex flex-col items-center cursor-pointer hover:shadow-lg transition"
           >
        <i class="fa fa-user fa-3x text-blue-500"></i>
        <h3 class="text-xl font-semibold mt-4">Perfil</h3>
        <p class="text-gray-500">Editar perfil</p>
      </div>

    </div>
  </section>
</body>
