<div class="container mx-auto p-4">
  <h2 class="text-2xl font-semibold mb-4">Historial citas</h2>
  <button
  class="flex items-center bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-700 mb-4"
  routerLink="/menu">
  <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
  </svg>
  Volver
</button>
  <table class="min-w-full bg-white border border-gray-300 rounded-lg shadow-md">
    <thead>
      <tr class="bg-gray-200 text-gray-700">
        <th class="py-2 px-4 border-b">#</th>
        <th class="py-2 px-4 border-b">Cliente</th>
        <th class="py-2 px-4 border-b">Fecha</th>
        <th class="py-2 px-4 border-b">Descripcion</th>
        <th class="py-2 px-4 border-b">Status</th>
        <th class="py-2 px-4 border-b">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appoint of appointements" class="hover:bg-gray-100">
        <td class="py-2 px-4 border-b">{{ appoint.id }}</td>
        <td class="py-2 px-4 border-b">{{ appoint.client.dni }}</td>
        <td class="py-2 px-4 border-b">{{ appoint.date }}</td>
        <td class="py-2 px-4 border-b">{{ appoint.description }}</td>
        <td class="py-2 px-4 border-b">{{ appoint.status }}</td>
        <td class="py-2 px-4 border-b">
          <button pButton icon="pi pi-pencil"
                class="p-button-rounded p-button-info p-button-sm" (click)="abrirModal(appoint)"></button>
              <button pButton icon="pi pi-trash"
                class="p-button-rounded p-button-danger p-button-sm" (click)="deleteAppoint(appoint.id)"></button>

        </td>
      </tr>
    </tbody>
  </table>
</div>
<p-dialog header="Actualizar Plan" [(visible)]="displayModal" [modal]="true" [responsive]="true">
  <form [formGroup]="appointForm" (ngSubmit)="onSubmit()">

    <!-- Campos de solo lectura -->
    <div class="grid md:grid-cols-2 md:gap-6">
      <div class="relative z-0 w-full mb-5 group">
        <input type="text" formControlName="dni" id="client"
          class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-400 appearance-none focus:outline-none focus:ring-0 focus:border-blue-500 peer" placeholder=" "
          required readonly />
        <label for="client"x
          class="peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-5 -z-10 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:text-blue-500">Cliente</label>
      </div>
      <div class="relative z-0 w-full mb-5 group">
        <input type="text" formControlName="description" id="description"
          class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-400 appearance-none focus:outline-none focus:ring-0 focus:border-blue-500 peer" placeholder=" "
          required readonly />
        <label for="description"
          class="peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-5 -z-10 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:text-blue-500">Descripción</label>
      </div>
    </div>

    <div class="grid md:grid-cols-2 md:gap-6">
      <div class="relative z-0 w-full mb-5 group">
        <input type="tel" formControlName="date" id="date"
          class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-400 appearance-none focus:outline-none focus:ring-0 focus:border-blue-500 peer" placeholder=" "
          required readonly />
        <label for="date"
          class="peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:text-blue-500">Fecha</label>
      </div>

    </div>

    <!-- Campo editable de estado -->
    <div class="relative z-0 w-full mb-5 group">
      <label for="status" class="text-sm text-gray-400">Estado</label>
      <select formControlName="status" id="status"
        class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-400 appearance-none focus:outline-none focus:ring-0 focus:border-blue-500">
        <option value="Pendiente">Pendiente</option>
        <option value="Realizado">Realizado</option>
        <option value="Rechazado">Rechazado</option>
      </select>
    </div>

    <!-- Botones -->
    <div class="flex justify-end mt-6">
      <button type="submit" class="px-4 py-2 text-white bg-blue-600 hover:bg-blue-700 rounded">Actualizar</button>
      <button type="button" (click)="displayModal = false"
        class="px-4 py-2 ml-2 text-gray-800 bg-gray-300 hover:bg-gray-400 rounded">Cancelar</button>
    </div>
  </form>
</p-dialog>
